<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="./task_4.js" defer></script> -->
    <script src="./task_5.js" defer></script>
</head>

<body>
    <div id="app">
        <!-- <button v-on:click="showBlock = !showBlock">Показать еще</button>

        <h3 v-show="showBlock">show</h3> -->
        <button v-on:click="randomNumber">Генерировать случайное число</button>

        <h3>Рандомное число {{number}}</h3>

        <p>{{showComment()}}</p>

        <!-- <button @click="generateRandomNum">Генерируй</button>
<p v-if="number<5">{{number}} меньше 5 </p>
<p v-if="number>=5 && number<=9">{{number}} от 5 до 9</p>
<p v-if="number==10">{{number}} равно 10</p> -->

    </div>
</body>

</html>