.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 45px;
  min-height: 151px;
}

.navigation {
  width: 20.25%;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navigation__item {
  line-height: 125%;
}
.navigation__link {
  color: rgb(41, 47, 54);
  cursor: pointer;
  transition: 0.3s;
}
.navigation__item:hover .navigation__link {
  color: rgb(205, 162, 116);
}

.page-footer {
  display: grid;
  grid-template-columns: 41.2% 37.3% 21.5%;
  padding-bottom: 134px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu-footer__list {
  list-style: none;
}
.menu-footer__link {
  font-size: 22px;
  line-height: 300%;
  letter-spacing: 0.01em;
  color: #4d5053;
  transition: 0.3s;
}
.menu-footer__link:hover {
  color: rgb(205, 162, 116);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.social__list {
  list-style: none;
  padding-top: 13px;
  display: flex;
  gap: 54px;
  align-items: center;
}
.social__icon {
  transition: 0.3s;
}
.social__link:hover .social__icon path {
  fill: rgb(205, 162, 116);
}

.footer-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  line-height: 125%;
  color: rgb(41, 47, 54);
}

address {
  font-style: normal;
  line-height: 300%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contacts__item {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 45px;
  min-height: 151px;
}

.navigation {
  width: 20.25%;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navigation__item {
  line-height: 125%;
}
.navigation__link {
  color: rgb(41, 47, 54);
  cursor: pointer;
  transition: 0.3s;
}
.navigation__item:hover .navigation__link {
  color: rgb(205, 162, 116);
}

.page-footer {
  display: grid;
  grid-template-columns: 41.2% 37.3% 21.5%;
  padding-bottom: 134px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu-footer__list {
  list-style: none;
}
.menu-footer__link {
  font-size: 22px;
  line-height: 300%;
  letter-spacing: 0.01em;
  color: #4d5053;
  transition: 0.3s;
}
.menu-footer__link:hover {
  color: rgb(205, 162, 116);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.social__list {
  list-style: none;
  padding-top: 13px;
  display: flex;
  gap: 54px;
  align-items: center;
}
.social__icon {
  transition: 0.3s;
}
.social__link:hover .social__icon path {
  fill: rgb(205, 162, 116);
}

.footer-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  line-height: 125%;
  color: rgb(41, 47, 54);
}

address {
  font-style: normal;
  line-height: 300%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contacts__item {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.hero-blog {
  margin: 0 auto;
  position: relative;
}
.hero-blog__img {
  aspect-ratio: 5.4;
  min-height: 356px;
}
.hero-blog__box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
}
.hero-blog__content {
  padding-left: 78px;
  padding-right: 78px;
  height: 100%;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.latest-post {
  padding-top: 200px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.latest-post__article-box {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.latest-card__img-box {
  border-radius: 50px;
  overflow: hidden;
  width: 49%;
}
.latest-card__info-box {
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 29px;
  justify-content: center;
}
.latest-card__info-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.latest-card__description {
  text-align: justify;
}

.lead-article {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgb(41, 47, 54);
  font-family: "DM Serif Display", Georgia, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Jost", Arial, sans-serif;
  font-size: 22px;
  line-height: 150%;
  color: rgb(77, 80, 83);
  background: #FFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hero {
  padding-bottom: 96px;
}
.hero__box {
  aspect-ratio: 1.58;
  position: relative;
  background-color: rgb(244, 240, 236);
  border-radius: 70px;
  width: 100%;
}
.hero__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.hero__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70px;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero__text {
  margin-bottom: 21px;
}

.projects-advantages {
  padding-bottom: 96px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.projects__list {
  width: 100%;
  padding-top: 85px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(2, 45.6%);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 56px;
  list-style: none;
  justify-content: space-between;
}

.interior-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.interior-card__img-box {
  height: 525px;
  overflow: hidden;
}
.interior-card__img-box_right-top-corner {
  border-top-right-radius: 80px;
}
.interior-card__img-box_left-top-corner {
  border-top-left-radius: 80px;
}
.interior-card__img-box_right-bottom-corner {
  border-bottom-right-radius: 80px;
}
.interior-card__img-box_left-bottom-corner {
  border-bottom-left-radius: 80px;
}
.interior-card__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.interior-card__title {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgb(41, 47, 54);
  font-family: "DM Serif Display", Georgia, serif;
}
.interior-card__description {
  font-weight: 400;
  letter-spacing: 0.01em;
}
.interior-card__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interior-card__arrow-box {
  border-radius: 50%;
  background-color: rgb(244, 240, 236);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.interior-card__arrow-box:hover {
  background-color: rgb(205, 162, 116);
}
.interior-card__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.advantages {
  background: rgb(244, 240, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__box {
  width: 100%;
  padding-top: 151px;
  padding-bottom: 151px;
  padding-left: calc(50% - 541px);
  padding-right: calc(50% - 541px);
}
.advantages__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
}
.advantages__number {
  font-weight: 400;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display", Georgia, serif;
}
.advantages__item {
  flex: 1 1 auto;
}
.advantages__item + .advantages__item {
  border-left: 1px solid rgb(205, 162, 116);
  -o-border-image: linear-gradient(to top, rgb(205, 162, 116) 84%, rgba(205, 162, 116, 0) 16%);
     border-image: linear-gradient(to top, rgb(205, 162, 116) 84%, rgba(205, 162, 116, 0) 16%);
  border-image-slice: 1;
}
.advantages__item-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.articles {
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.articles__list {
  padding-top: 52px;
  display: grid;
  grid-template-columns: repeat(3, 31.9%);
  justify-content: space-between;
  list-style: none;
}
.articles__item {
  border-radius: 62px;
}
.articles__item:first-child {
  border: 1px solid rgb(231, 231, 231);
}
.articles__item:last-child {
  border: 1px solid rgb(231, 231, 231);
}
.articles__item:not(:first-child):not(:last-child) {
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  background: rgb(244, 240, 236);
}
.articles__arrow-date-box {
  display: flex;
  justify-content: space-between;
}

.article-card {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.article-card__img-box {
  position: relative;
  height: 290px;
  overflow: hidden;
  border-top-right-radius: 62px;
  border-top-left-radius: 62px;
}
.article-card__comment {
  position: absolute;
  width: 124px;
  height: 41px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  bottom: 20px;
  font-size: 16px;
  z-index: 100;
  border-radius: 8px 8px 8px 0px;
}
.article-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 100%;
}
.article-card__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.article-card__title {
  font-family: "DM Serif Display", Georgia, serif;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgb(41, 47, 54);
}
.article-card__text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 17px;
}
.article-card__arrow-date-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-card__date {
  font-size: 16px;
  letter-spacing: 0.01em;
}
.article-card__arrow-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 240, 236);
  cursor: pointer;
  transition: 0.3s;
}
.article-card__arrow-box:hover {
  background-color: rgb(205, 162, 116);
}
.article-card__arrow-box_light {
  background-color: rgb(255, 255, 255);
}

.lead {
  color: rgb(41, 47, 54);
  font-size: 65px;
  line-height: 125%;
  font-family: "DM Serif Display", Georgia, serif;
  margin-bottom: 18px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.button {
  width: 220px;
  height: 75px;
  background: rgb(41, 47, 54);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.button__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.button:hover {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(205, 162, 116);
}
.button:hover .button__text {
  color: rgb(41, 47, 54);
}

.section-title {
  font-family: "DM Serif Display", Georgia, serif;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  color: rgb(41, 47, 54);
}
.section-title_blog {
  letter-spacing: 0.03px;
}
.section-title_articles {
  align-self: flex-start;
}

.section-text {
  letter-spacing: 0.01em;
  text-align: center;
}
.section-text_advantage, .section-text_articles {
  width: 65%;
}
.section-text_articles {
  width: 70%;
}
.section-text_footer {
  text-align: left;
  width: 80%;
}/*# sourceMappingURL=style.css.map */